<!doctype html>
<html>
  <head>

  </head>
  <body>
    <form id="form" method="post" action="/login">
      <input type="password" id="password" name="password">
      <button id="submit" type="submit">Submit</button>
    </form>
  </body>
</html>
