<!doctype html>
<html>

<head>

</head>
<body>
  <p>Hello Cristhian</p>
  <form method="post" action="/signup">
    <input type="password" id="password" name="password">
    <input type="submit" value="Submit Password">
  </form>
</body>

</html>